@model web_team3_assignment.Models.Project

@{
    ViewData["Title"] = "CreateProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img class="img-fluid" src="~/images/createnewprojectstatic.png" style="display:block; margin:auto;" />

<hr />
<form asp-action="CreateProject">
    <fieldset class="FormContent">
        <legend>Input Project Details Below</legend>
        <div class="form-group row">
            <label asp-for="ProjectId"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="ProjectId" class="form-control" placeholder="New ID will be given automatically" disabled />
                <span asp-validation-for="ProjectId"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Title"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Description"
                   class="col-sm-3 col-form-label">
            </label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Description" class="form-control" title="Professional Area Description" />
                <span asp-validation-for="Description"
                      class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="ProjectPoster"
                   class="col-sm-3 col-form-label">
            </label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="ProjectPoster" class="form-control" />
                <span asp-validation-for="ProjectPoster"
                      class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="ProjectURL"
                   class="col-sm-3 col-form-label">
            </label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="ProjectURL" class="form-control" />
                <span asp-validation-for="ProjectURL"
                      class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Create" @*asp-action="CreateProject" *@
                       class="btn btn-primary mb1 black bg-aqua" />
            </div>
        </div>
        <div>
            <a class="btn btn-secondary" role="button" asp-action="Index">Back to List</a>
        </div>
    </fieldset>
</form>