@model IEnumerable<web_team3_assignment.Models.Project>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<img class="img-fluid" src="~/images/viewprojectsstatic.png" style="display:block; margin:auto;" />

<a asp-action="CreateProject">
    <img class="img-fluid" src="~/images/createproject.gif" style="display:block; margin:auto;" />
</a>

<!-- Add a partial view to display a list of staff records in a tabular format. -->
<partial name="~/Views/Project/_ViewProject.cshtml" model="@Model" />
