@model web_team3_assignment.Models.SuggestionViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img class="img-fluid" src="~/images/deletesuggestion.png" style="display:block; margin:auto;" />
<form asp-action="Delete">
    <fieldset class="FormContent">
        <legend>Are you sure to delete this record?</legend>
        <div class="form-group row">
            <label asp-for="SuggestionId" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="SuggestionId" readonly class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="StudentName" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="StudentName" readonly class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Description" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Description" readonly class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Status" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-6">
                <input asp-for="Status" readonly class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="DateCreated" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="DateCreated" readonly class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Delete" class="btn btn-primary mb1 bg-teal" />
                <br />
                @if (Model.Status == "Not Acknowledged")
                {
                    <span style="font-weight:bold; color: brown; padding-left:5px;">WARNING: This Suggestion Has Not Been Acknowledged Yet!</span>
                }
            </div>
        </div>
    <div>
            <a asp-action="Index" class="btn btn-primary mb1 black bg-gray">Back to List</a>
    </div>
</fieldset>
</form>
