@model web_team3_assignment.Models.Suggestion

@{
    ViewData["Title"] = "PostSuggestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img src="~/images/postsuggestionstatic.png" style="display:block; margin:auto;" class="img-fluid" />
<form asp-action="PostSuggestion">
    <fieldset class="FormContent">
        <legend>Key in a Suggestion to a Mentee Below</legend>
        <div class="form-group row">
            <label asp-for="StudentId"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-4">
                <select asp-for="StudentId"
                        asp-items="@ViewData["MenteeList"] as List<SelectListItem>"
                        class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Description"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-4">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Post Suggestion"
                       class="btn btn-primary" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">

                @if (ViewData["Message"] != null)
                {
                    <span class="text-danger">@ViewData["Message"]</span>
                }
            </div>
        </div>
        <div>
            <a asp-action="Index" class="btn btn-primary mb1 black bg-gray">Back</a>
        </div>

    </fieldset>
    </form>
