@model web_team3_assignment.Models.Student

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Update">
    <fieldset class="FormContent">
        <legend>Input Profile Details Below</legend>
        <div class="form-group row">
            <label asp-for="Name"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name"
                      class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Course"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Course" class="form-control" />
                <span asp-validation-for="Course"
                      class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Photo"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo"
                      class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Description"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description"
                      class="text-danger"></span>
            </div>

        </div>

        <div class="form-group row">
            <label asp-for="Achievement"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Achievement" class="form-control" />
                <span asp-validation-for="Achievement"
                      class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="ExternalLink"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="ExternalLink" class="form-control" />
                <span asp-validation-for="ExternalLink"
                      class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="EmailAddr"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="EmailAddr" class="form-control" />
                <span asp-validation-for="EmailAddr"
                      class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Password"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"
                      class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="MentorID"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="MentorID" class="form-control" />
                <span asp-validation-for="MentorID"
                      class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Save" class="btn btn-primary mb1 bg-teal" />
            </div>
        </div>
        <div>
            <a class="btn btn-secondary" role="button" asp-action="Index" id="CreateStudentReturn">Back</a>
            @if (ViewData["Message"] != null)
            {
                <span class="text-danger">@ViewData["Message"]</span>
            }
        </div>
    </fieldset>
</form>
