@model web_team3_assignment.Models.Student

@{
    ViewData["Title"] = "UpdatePhoto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<img class="img-fluid" src="~/images/uploadprofile.png" style="display:block; margin:auto;" />
<form asp-action="UpdatePhoto" enctype="multipart/form-data">
    <fieldset class="FormContent">
        <legend>Update Photo</legend>
        <input asp-for="StudentID" type="hidden" readonly class="form-control" />

        <div class="form-group row">
            <label asp-for="Name"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Name" readonly
                       class="text-danger" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Course"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Course" readonly
                       class="text-danger" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Photo"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                @{ string imageFileName = Model.Photo; }
                <img src="~/images/@imageFileName" style="width:50px" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="FileToUpload"
                   class="col-sm-3 col-form-label">
                New Photo (jpg format)
            </label>
            <div class="col-sm-9">
                <input asp-for="FileToUpload" accept="image/jpeg" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Description"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Description" readonly
                       class="text-danger" />
            </div>

        </div>

        <div class="form-group row">
            <label asp-for="Achievement"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Achievement" readonly
                       class="text-danger" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="ExternalLink"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="ExternalLink" readonly
                       class="text-danger" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="EmailAddr"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="EmailAddr" readonly
                       class="text-danger" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Password"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Password" readonly
                       class="text-danger" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="MentorID"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="MentorID" readonly
                       class="text-danger" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Update" class="btn btn-primary mb1 bg-teal" />
                <span style="color:red;">@ViewData["Message"]</span>
            </div>
        </div>
        <div>
            <a class="btn btn-secondary" role="button" asp-action="Index">Back</a>
        </div>
    </fieldset>
</form>

