<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/Site.css" rel="stylesheet" />
    <title>@ViewData["Title"] - NP Portfolio Page</title>
    <!-- Reference to Bootstrap CSS, JavaScript/JQuery files -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/basscss@7.1.1/css/basscss.min.css" rel="stylesheet">
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/Site.css">
</head>
<body>
    <!-- Bootstrap container, centralise the container between margins -->
    <div class="container">
        <!-- 1st row -->
        <div class="row">
            <div class="col-sm-12">
                @if (Context.Session.GetString("Role") != null)
                {
                    if (Context.Session.GetString("Role") == "Lecturer")
                    {
                        @await Html.PartialAsync("_LecturerMenu.cshtml")
                    }

                    else if (Context.Session.GetString("Role") == "Student")
                    {
                        @await Html.PartialAsync("_StudentMenu.cshtml")
                    }
                }
            </div>
        </div>
        <!-- 2nd row -->
        <div class="row">
            <div class="col-sm-12">
                <p style="padding:2px 15px;">
                    @{
                        string userId = "Anonymous";
                        string userRole = "Unknown";
                        string today = "";
                        if (Context.Session.GetString("Role") != null)
                        {
                            userRole = Context.Session.GetString("Role");
                            today = Context.Session.GetString("currentTime");
                        }
                        if (Context.Session.GetString("LoginID") != null)
                        {
                            userId = Context.Session.GetString("LoginID");
                            today = Context.Session.GetString("currentTime");
                        }
                    }
                    Welcome,&nbsp;
                    <span style="font-weight:bold">@userId</span>&nbsp;
                    (Role: @userRole).&nbsp; You have logged in since @today
                </p>
            </div>
        </div>
        <!-- 3rd row -->
        <div class="row">
            <div class="col-sm-12">
                @RenderBody()
            </div>
        </div>
        <!-- 4th row -->
        <div class="row">
            <div class="col-sm-12" style="text-align: right">
                <hr />
                <!-- Footer -->
                <footer class="page-footer font-small black pt-4">
                    <!-- Copyright -->
                    <div class="footer-copyright text-center py-3">
                        © 2019 Copyright:
                       Made by Team 3: Jia Qi, Brandon, John, Wei Lin
                    </div>
                    <!-- Copyright -->

                </footer>
                <!-- Footer -->
            </div>
        </div>
    </div>
</body>
</html>
