
@{
    ViewData["Title"] = "Lecturer Main Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="PageTitle">Lecturer Main Page</h2>

<img id="imgMainPic" src="~/images/npLecturer.png"
     class="img-fluid" style="display:block; margin:auto;" />

