
@{
    ViewData["Title"] = "Project MainPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2><bold>ProjectMain</bold></h2>

<img id="imgMainPic" src="~/images/nplogo.gif"
     class="img-fluid" style="display:block; margin:auto;" />
<br />

<a href="~/Project/Index">View All Projects</a><br />

<a href="~/Project/CreateProject">Create Project</a><br />

<a href="~/Project/UpdateProject">Update Project Portfolio</a>

<a href="~/Project/UploadProject">Upload Poster</a>

