
@{
    ViewData["Title"] = "Project MainPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<img class="img-fluid" src="~/images/projectportfolio.png" style="display:block; margin:auto;" />

<br />

<a href="~/Project/Index">
    <img class="img-fluid" src="~/images/viewprojects.gif" style="display:block; margin:auto;" />
</a>
<br />
<a href="~/Project/CreateProject">
    <img class="img-fluid" src="~/images/createproject.gif" style="display:block; margin:auto;" />
</a>

@*<center><a href="~/ProjectMember/Index">View ProjectMember</a></center>*@

<br /> <br />

<img id="imgMainPic" src="~/images/ICTProject.png" class="img-fluid" style="display:block; margin:auto;" />







