
@{
    ViewData["Title"] = "Project MainPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2><bold>ProjectMain</bold></h2>
<br />

<a href="~/Project/Index" class="myButton">View Project</a> 

<a href="~/Project/CreateProject" class="myButton">Create Project</a>

<br /> <br />

<img id="imgMainPic" src="~/images/ICTProject.png" class="img-fluid" style="display:block; margin:auto;" />







