
@{
    ViewData["Title"] = "SkillSetMain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SkillSet Administration</h2>

<div class="mb1">
    <a href="~/SkillSet/Index" class="btn btn-primary mb1 bg-teal">View All Available SkillSets</a>
</div>
<br />
<div class="mb1">
    <a href="~/SkillSet/SkillSetCreate" class="btn btn-primary mb1 bg-teal">Create New SkillSet</a>
</div>
