
@{
    ViewData["Title"] = "SkillSetMain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SkillSetMain</h2>
<a href="~/SkillSet/Index">View SkillSets</a>
<br />
<a href="~/SkillSet/SkillSetCreate">Create New SkillSet</a>
