
@{
    ViewData["Title"] = "SkillSetMain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img class="img-fluid" src="~/images/skillset.png" style="display:block; margin:auto;" />
<div></div>
<div class="mb1">
    <a href="~/SkillSet/Index" class="btn btn-primary mb1 bg-teal" style="margin:auto;">View All Available SkillSets</a>
</div>
<br />
<div class="mb1">
    <a href="~/SkillSet/SkillSetCreate" class="btn btn-primary mb1 bg-teal" style="margin:auto;">Create New SkillSet</a>
</div>
