
@{
    ViewData["Title"] = "StudentMain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="PageTitle">Student Main Page</h2>
<a href="~/Student/Index">
    <img class="img-fluid" src="~/images/viewallstaff.gif" style="display:block; margin:auto;" />
</a>
<img id="imgMainPic" src="~/images/npLecturer.png"
     class="img-fluid" style="display:block; margin:auto;" />

